/* loader css codes */
@keyframes ldio-9atrfbazgt {
  0% {
    transform: translate(6.42px, 42.800000000000004px) scale(0);
  }
  25% {
    transform: translate(6.42px, 42.800000000000004px) scale(0);
  }
  50% {
    transform: translate(6.42px, 42.800000000000004px) scale(1);
  }
  75% {
    transform: translate(42.800000000000004px, 42.800000000000004px) scale(1);
  }
  100% {
    transform: translate(79.18px, 42.800000000000004px) scale(1);
  }
}
@keyframes ldio-9atrfbazgt-r {
  0% {
    transform: translate(79.18px, 42.800000000000004px) scale(1);
  }
  100% {
    transform: translate(79.18px, 42.800000000000004px) scale(0);
  }
}
@keyframes ldio-9atrfbazgt-c {
  0% {
    background: #ffffff;
  }
  25% {
    background: #ffffff;
  }
  50% {
    background: #ffffff;
  }
  75% {
    background: #ffffff;
  }
  100% {
    background: #ffffff;
  }
}
.ldio-9atrfbazgt div {
  position: absolute;
  width: 21.400000000000002px;
  height: 21.400000000000002px;
  border-radius: 50%;
  transform: translate(42.800000000000004px, 42.800000000000004px) scale(1);
  background: #ffffff;
  animation: ldio-9atrfbazgt 1s infinite cubic-bezier(0, 0.5, 0.5, 1);
}
.ldio-9atrfbazgt div:nth-child(1) {
  background: #ffffff;
  transform: translate(79.18px, 42.800000000000004px) scale(1);
  animation: ldio-9atrfbazgt-r 0.25s infinite cubic-bezier(0, 0.5, 0.5, 1),
    ldio-9atrfbazgt-c 1s infinite step-start;
}
.ldio-9atrfbazgt div:nth-child(2) {
  animation-delay: -0.25s;
  background: #ffffff;
}
.ldio-9atrfbazgt div:nth-child(3) {
  animation-delay: -0.5s;
  background: #ffffff;
}
.ldio-9atrfbazgt div:nth-child(4) {
  animation-delay: -0.75s;
  background: #ffffff;
}
.ldio-9atrfbazgt div:nth-child(5) {
  animation-delay: -1s;
  background: #ffffff;
}
.loadingio-spinner-ellipsis-4l8oq9z32xw {
  width: 107px;
  height: 107px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.ldio-9atrfbazgt {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-9atrfbazgt div {
  box-sizing: content-box;
}

/* loader css codes */

/* Title animation */

@keyframes line-anim {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes fill-title {
  from {
    fill: transparent;
  }
  to {
    fill: white;
  }
}

#title-big {
  animation: fill-title 1.5s ease forwards 4s;
}
#title-big path:nth-child(1) {
  stroke-dasharray: 169.6px;
  stroke-dashoffset: 169.6px;
  animation: line-anim 1.5s cubic-bezier(0.7, 0, 0.3, 1) forwards 2.2s;
}
#title-big path:nth-child(2) {
  stroke-dasharray: 77.7px;
  stroke-dashoffset: 77.7px;
  animation: line-anim 1.5s cubic-bezier(0.7, 0, 0.3, 1) forwards 2.3s;
}
#title-big path:nth-child(3) {
  stroke-dasharray: 431.8px;
  stroke-dashoffset: 431.8px;
  animation: line-anim 1.5s cubic-bezier(0.7, 0, 0.3, 1) forwards 2.3s;
}
#title-big path:nth-child(4) {
  stroke-dasharray: 379.9px;
  stroke-dashoffset: 379.9px;
  animation: line-anim 1.5s cubic-bezier(0.7, 0, 0.3, 1) forwards 2.3s;
}
#title-big path:nth-child(5) {
  stroke-dasharray: 266px;
  stroke-dashoffset: 266px;
  animation: line-anim 1.5s cubic-bezier(0.7, 0, 0.3, 1) forwards 2.4s;
}
#title-big path:nth-child(6) {
  stroke-dasharray: 265.5px;
  stroke-dashoffset: 265.5px;
  animation: line-anim 1.5s cubic-bezier(0.7, 0, 0.3, 1) forwards 2.4s;
}
#title-big path:nth-child(7) {
  stroke-dasharray: 324.08px;
  stroke-dashoffset: 324.08px;
  animation: line-anim 1.5s cubic-bezier(0.7, 0, 0.3, 1) forwards 2.4s;
}
#title-big path:nth-child(8) {
  stroke-dasharray: 185px;
  stroke-dashoffset: 185px;
  animation: line-anim 1.5s cubic-bezier(0.7, 0, 0.3, 1) forwards 2.5s;
}
#title-big path:nth-child(9) {
  stroke-dasharray: 222.86px;
  stroke-dashoffset: 222.86px;
  animation: line-anim 1.5s cubic-bezier(0.7, 0, 0.3, 1) forwards 2.5s;
}
#title-big path:nth-child(10) {
  stroke-dasharray: 318.22px;
  stroke-dashoffset: 318.22px;
  animation: line-anim 1.5s cubic-bezier(0.7, 0, 0.3, 1) forwards 2.5s;
}

/* menu icon */
#nav-icon3 {
  width: 60px;
  height: 45px;
  position: relative;
  transform: rotate(0deg) scale(0.5);
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

#nav-icon3 span {
  display: block;
  position: absolute;
  height: 9px;
  width: 100%;
  background: #ffffff;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

#nav-icon3 span:nth-child(1) {
  top: 0px;
}

#nav-icon3 span:nth-child(2),
#nav-icon3 span:nth-child(3) {
  top: 18px;
}

#nav-icon3 span:nth-child(4) {
  top: 36px;
}

#nav-icon3.open span:nth-child(1) {
  background-color: #cc005f;
  top: 18px;
  width: 0%;
  left: 50%;
}

#nav-icon3.open span:nth-child(2) {
  background-color: #cc005f;
  transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
  background-color: #cc005f;
  transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
  background-color: #cc005f;
  top: 18px;
  width: 0%;
  left: 50%;
}

/* Icon 4 */

/* tooltip */

/* Right */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
/* end of tooltip */

/* up arrow in hero */
#up-arrow {
  position: absolute;
  bottom: -50%;
  left: 45%;
  right: 45%;
  width: 10%;
  padding: 1%;
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.5s cubic-bezier(0, 0, 0, 1) 1s;
}
#arrow {
  margin: 10%;
  animation-name: floating;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
#arrow-text {
  color: #ffffff;
  font-family: sans-serif;
  font-size: 10px;
}
#up-arrow.slide {
  bottom: 5%;
  position: fixed;
  opacity: 1;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, -0px);
  }
}
/* end of up arrow   */

/* edu-lines */
#edu-box1 {
  text-align: left;
}
#edu-box1::before {
  content: "";
  height: 0%;
  width: 1px;
  background-color: white;
  position: absolute;
  left: 0;
  top: 0;
  transition: all 0.1s ease 0.2s;
}
#edu-box1.onenter::before {
  transition: height 0.1s ease 1s;
  height: 100%;
}
#edu-box1::after {
  content: "";
  width: 0%;
  height: 1px;
  background-color: white;
  position: absolute;
  bottom: 0px;
  left: 0;
  transition: all 0.1s ease 0.2s;
}
#edu-box1.onenter::after {
  transition: width 0.2s ease 1.1s;
  width: 100%;
}
#edu-box2 {
  text-align: right;
  flex-direction: row-reverse;
}
#edu-box2::before {
  content: "";
  height: 0%;
  width: 1px;
  background-color: white;
  position: absolute;
  right: 0;
  top: 0;
  transition: all 0.1s ease 0.2s;
}
#edu-box2.onenter::before {
  transition: height 0.1s ease 1.3s;
  height: 100%;
}
#edu-box2::after {
  content: "";
  width: 0%;
  height: 1px;
  background-color: white;
  position: absolute;
  bottom: 0px;
  transition: all 0.1s ease 0.2s;
  right: 0;
}
#edu-box2.onenter::after {
  transition: width 0.2s ease 1.4s;
  width: 100%;
}
#edu-box3 {
  text-align: left;
}
#edu-box3::before {
  content: "";
  height: 0%;
  width: 1px;
  background-color: white;
  position: absolute;
  left: 0;
  transition: all 0.1s ease 0.2s;
  top: 0;
}
#edu-box3.onenter::before {
  transition: height 0.1s ease 1.6s;
  height: 100%;
}
#edu-box3::after {
  content: "";
  width: 0%;
  height: 1px;
  background-color: white;
  position: absolute;
  transition: all 0.1s ease 0.2s;
  bottom: 0px;
  left: 0;
}
#edu-box3.onenter::after {
  transition: width 0.2s ease 1.7s;
  width: 100%;
}
/* end of edu lines */
