@import "props.css";

body {
  margin: 0;
  padding: 0;
  background: black;
  overflow-x: hidden;
  justify-content: center;
  align-items: center;
  position: relative;
  scroll-behavior: smooth;
}
canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
.card {
  padding: 30px;
}
#loader {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -39px;
  margin-top: -39px;
  opacity: 1;
  transform: scale(0.75);
  transition: all 0.5s cubic-bezier(0.7, 0, 0.3, 1) 1s;
}
#loader.slide {
  left: 125%;
  opacity: 0;
}
#content {
  margin: 0%;
  padding: 0;
}
#menu-bar {
  position: absolute;
  padding: 1em;
  top: 0%;
  height: 40%;
  overflow: hidden;
  left: -20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: left 0.5s cubic-bezier(0.7, 0, 0.3, 1) 1s;
}
#menu-bar.slide {
  left: 0%;
  position: fixed !important;
}
#menu-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}
.menuicon {
  padding: 0.2em;
}

.active {
  color: #cc005f !important;
}
.icon {
  /*social-media*/
  padding-bottom: 0.5em;
}

#intro {
  position: relative;
  height: 100vh;
  margin: 0%;
}
#hero {
  margin: 0;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
#text-box {
  position: absolute;
  transition: all 0.5s cubic-bezier(0.7, 0, 0.3, 1) 0.75s;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translate(0%, 0%);
}
#text-box.slide {
  transform: translate(-200%, 0%);
}

#sub-heading {
  text-align: center;
  color: white;
  font-family: raleway;
  font-size: 60px;
  transform: translateY(-150%);
  transition: all 0.5s cubic-bezier(0, 0, 0, 1) 1s;
}
#sub-heading-container {
  overflow: hidden;
}
#sub-heading.slide {
  transform: translateY(0%);
}

#slider {
  position: absolute;
  height: 100vh;
  width: 100%;
  right: 0%;
  top: 0%;
  overflow: hidden;
}
#slider.fix {
  position: fixed;
}
#profile-img {
  text-align: center;
  opacity: 0;
  transition: all 0.5s cubic-bezier(0.7, 0, 0.3, 1) 0.8s;
}
#profile-img.slide {
  opacity: 1;
}

#about {
  height: 80vh;
  width: 80vw;
  position: fixed;
  top: 50%;
  margin-top: -35vh;
  margin-left: -40vw;
}

#about-me {
  opacity: 0;
  color: white;
  font-family: raleway;
  font-size: 40px;
  font-weight: bolder;
  margin-bottom: 5vh;
  transition: all 0.5s cubic-bezier(0.7, 0, 0.3, 1) 0.9s;
}
#about-me.slide {
  opacity: 1;
}

#about-content-container {
  opacity: 0;
  transition: all 0.5s cubic-bezier(0.7, 0, 0.3, 1) 0.8s;
}
#about-content-container.slide {
  opacity: 1;
}

#about-quote {
  opacity: 0;
  margin-top: 5vh;
  text-align: center;
  color: white;
  font-family: raleway;
  font-size: 18px;
  font-style: italic;
  transition: all 0.5s cubic-bezier(0.7, 0, 0.3, 1) 0.9s;
}
#about-quote.slide {
  opacity: 1;
}
.quote {
  color: #ffffff9f;
  margin-left: 1vw;
  margin-right: 1vw;
  font-size: 14px;
}

#about-content {
  color: white;
  font-family: raleway;
  font-weight: bold;
}
.typewrite {
  text-decoration: none;
  color: white;
}
.wrap {
  border-right: 0.08em solid #fff;
}

#about-subcontent {
  color: white;
  font-family: raleway;
  font-size: 20px;
  font-weight: 0;
}

#education {
  height: 80vh;
  width: 80vw;
  position: fixed;
  overflow: hidden;
  top: 50%;
  left: 50%;
  margin-top: -35vh;
  margin-left: -40vw;
}
#education-title,
#portfolio-title {
  color: white;
  position: absolute;
  font-family: raleway;
  font-size: 30px;
  font-weight: bolder;
  margin-bottom: 5vh;
  transform: translateX(-100%);
  transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1) 0.3s;
}
#education-title.slide,
#portfolio-title.slide {
  transform: translateX(0%);
  transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1) 1.5s;
}

li {
  list-style-type: none;
  margin-top: 10px;
  margin-bottom: 10px;
}

#edu-timeline-wrapper {
  position: absolute;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#skills {
  position: absolute;
  top: 50%;
  margin-top: -10%;
  opacity: 1;
  transition: all 0.1s cubic-bezier(0.7, 0, 0.3, 1);
}
#edu-subtitle {
  opacity: 1;
  transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1);
}
.eduBox {
  padding: 20px;
  font-size: 14px;
  font-family: raleway;
  color: #fff;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.edu-left {
  transition: all 0.5s cubic-bezier(0.7, 0, 0.3, 1) 1s;
  transform: translateX(-150%);
}
.edu-right {
  transition: all 0.5s cubic-bezier(0.7, 0, 0.3, 1) 1s;
  transform: translateX(150%);
}
.edu-left.slide,
.edu-right.slide {
  transform: translateX(0%);
}
.edutitle {
  font-size: 20px;
  font-family: inherit;
  font-weight: bold;
}
.duration {
  font-size: 12px;
}

.circleicon {
  width: 50px;
  height: 50px;
  opacity: 0;
  background-color: white;
  border-radius: 50%;
  margin: 10px;
  color: #cc005f;
  font-size: 28px;
  padding: 5px;
  text-align: center;
  transition: all 0.5s ease 1s;
}

#portfolio {
  height: 80vh;
  width: 80vw;
  position: fixed;
  overflow: hidden;
  top: 50%;
  left: 50%;
  margin-top: -35vh;
  margin-left: -40vw;
}

.portfolio-box {
  padding: 20px;
  margin: 10px;
  width: 30vw;
  overflow: hidden;
  position: relative;
  border-radius: 30px;
  transition: all 0.2s ease 0.3s;
}
.portfolio-box:hover.slide {
  background-color: #ffffff2f;
  transform: scale(1.05);
}
.portfolio-tags {
  margin-top: 10px;
  transform: translateY(500%);
  transition: all 0.2s ease 0.3s;
}
.portfolio-box:hover.slide > .portfolio-tags {
  transform: translateY(0%);
}
.tag {
  background-color: rgba(255, 255, 255, 0.473);
  color: white;
  border-radius: 30px;
  padding: 5px;
  margin: 3px;
}
.portfolio-box::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 0;
  height: 0;
  background: transparent;
  border: 1px solid transparent;
  border-radius: 30px;
  transition: all 1s cubic-bezier(0.7, 0, 0.3, 1) 0s;
}

.portfolio-box.slide::before {
  animation: border-top 1s linear forwards 1.7s;
}
.portfolio-box::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 0;
  height: 0;
  background: transparent;
  border: 1px solid transparent;
  border-radius: 30px;
  transition: all 1s cubic-bezier(0.7, 0, 0.3, 1) 0s;
}

.portfolio-box.slide:after {
  animation: border-bottom 1s linear forwards 1.7s;
}

.content {
  font-family: raleway;
  font-size: 14px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transform: translateX(-150%);
  transition: all 1s cubic-bezier(0.7, 0, 0.3, 1) 0s;
}

.content.slide {
  transform: translateX(0%);
  transition: transform 1s cubic-bezier(0.7, 0, 0.3, 1) 1.5s;
}
.portfoliotitle {
  font-size: 25px;
  font-weight: bold;
}
.portfolio-row {
  display: flex;
  flex-direction: row;
}
#portfolio-content {
  position: absolute;
  top: 20%;
  margin-top: 0%;
  left: 10%;
  right: 10%;
}
#contact {
  height: 55vh;
  width: 80vw;
  position: fixed;
  transition: opacity 1s cubic-bezier(0.7, 0, 0.3, 1) 0s;
  top: 50%;
  left: 50%;
  margin-top: -30vh;
  margin-left: -40vw;
}
#contact-img {
  width: 30vw;
  transform: scale(0);
  transition: all 0.5s cubic-bezier(0.7, 0, 0.3, 1) 1s;
}
#contact-img.slide {
  transform: scale(1);
}

#contact-content {
  text-align: left;
  height: 100%;
  margin-top: 5%;
  overflow: hidden;
  transition: all 0.5s cubic-bezier(0.7, 0, 0.3, 1) 1s;
  opacity: 0;
}
#contact-content.slide {
  opacity: 1;
}
#contact-title {
  color: #ffffff;
  font-size: 40px;
  font-weight: bolder;
  margin-top: 10px;
  margin-bottom: 10px;
  transition: all 0.5s ease 0s;
}
#contact-mail {
  color: #ffffff;
  font-size: 2vw;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
  transition: all 0.5s ease 0s;
}
.contact-social-icons {
  display: flex;
  flex-direction: row;
  justify-content: left;
}
.contact-icon {
  color: white;
  margin-left: 0px;
  margin-right: 40px;
  transition: all 0.5s ease 0s;
  font-size: 2vw;
}
.go-btn {
  background-color: #cc005f;
  border-color: #cc005f;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  color: white;
  height: 30px;
}
.input-mail {
  background-color: transparent;
  border-color: white;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  color: white;
  padding-left: 5px;
  height: 30px;
}
#contact-content-1 {
  color: white;
  margin-top: 20px;
  margin-bottom: 15px;
  font-size: 18px;
}
#contact-content-2 {
  color: white;
  margin-top: 20px;
  font-size: 16px;
}
@media only screen and (min-width: 769px) {
  #slider {
    background-color: #cc005fd5;
  }
  #text-box {
    padding: 10vh;
    transform: scale(0.9);
  }
  #heading {
    padding-bottom: 4vh;
  }
  #slider.forward {
    width: 90% !important;
    transition: width 1s cubic-bezier(0.7, 0, 0.3, 1) 0.5s;
  }
  #slider.backward {
    width: 5% !important;
    transition: width 1s cubic-bezier(0.7, 0, 0.3, 1) 0.5s;
  }
  #slider.getintoleft {
    right: 10% !important;
    transition: all 0.5s cubic-bezier(0.7, 0, 0.3, 1) 0.5s;
  }
  #slider.getintoleftBackward {
    right: 0% !important;
    transition: all 0.8s cubic-bezier(0.7, 0, 0.3, 1) 0.5s;
  }

  #slider.eduLeft {
    right: 90% !important;
    transition: all 0.5s cubic-bezier(0.7, 0, 0.3, 1) 1.5s;
  }
  #slider.eduLeftReverse {
    right: 10% !important;
    transition: all 0.8s cubic-bezier(0.7, 0, 0.3, 1) 0.5s;
  }
  #slider.contactLeft {
    right: 100% !important;
    transition: all 0.5s cubic-bezier(0.7, 0, 0.3, 1) 1.5s;
  }
  #slider.contactLeftReverse {
    right: 90% !important;
    transition: all 0.8s cubic-bezier(0.7, 0, 0.3, 1) 0.5s;
  }

  #social-media {
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    transition: all 1s cubic-bezier(0.7, 0, 0.3, 1) 0.7s;
    top: -100%;
    bottom: 50%;
    right: 0%;
    padding: 1.4%;
  }
  #social-media.slide {
    top: 50%;
    position: fixed !important;
  }
  #about {
    left: 60%;
  }
  #about-quote {
    font-size: 20px;
  }
  #profile-img {
    width: 40vh;
  }
  #about-me {
    text-align: left;
    margin-bottom: 5vh;
  }
  #about-content {
    text-align: left;
    font-size: 40px;
  }
  #about-subcontent {
    margin-top: 7vh;
  }

  #edu-timeline-wrapper {
    top: 50%;
    margin-top: -25%;
    right: 5%;
  }
}

@media only screen and (max-width: 1100px) {
  #about-subcontent {
    margin-top: 7vh;
    font-size: 18px;
  }
  #profile-img {
    width: 30vw;
  }
  #about-content {
    font-size: 30px;
  }
  #skills {
    opacity: 0;
  }
  #edu-subtitle {
    opacity: 0;
  }
  #edu-timeline-wrapper {
    top: 40vh;
    margin-top: -35vh;
    right: 10%;
    left: 10%;
  }
  #slider.getintoleft {
    right: 10% !important;
    transition: all 0.5s cubic-bezier(0.7, 0, 0.3, 1) 0.5s;
  }
  #slider.getintoleftBackward {
    right: 0% !important;
    transition: all 0.8s cubic-bezier(0.7, 0, 0.3, 1) 0.5s;
  }
  #slider.eduLeft {
    right: 90% !important;
    transition: all 0.5s cubic-bezier(0.7, 0, 0.3, 1) 0.5s;
  }
  #slider.eduLeftReverse {
    right: 10% !important;
    transition: all 0.8s cubic-bezier(0.7, 0, 0.3, 1) 0.5s;
  }
  #slider.contactLeft {
    right: 100% !important;
    transition: all 0.5s cubic-bezier(0.7, 0, 0.3, 1) 1.5s;
  }
  #slider.contactLeftReverse {
    right: 90% !important;
    transition: all 0.8s cubic-bezier(0.7, 0, 0.3, 1) 0.5s;
  }
  .portfoliotitle {
    font-size: 20px;
  }
}
@media only screen and (max-width: 768px) {
  #slider {
    background-color: #cc005f6e;
  }
  #heading {
    padding-bottom: 6vh;
  }
  #text-box {
    transform: scale(0.5);
    padding: 5vh;
  }
  #text-box.slide {
    transform: scale(0.5) translate(-200%, 0%);
  }
  #slider.forward {
    width: 100% !important;
    transition: width 1s cubic-bezier(0.7, 0, 0.3, 1) 0.5s;
  }
  #slider.backward {
    width: 0% !important;
    transition: width 1s cubic-bezier(0.7, 0, 0.3, 1) 0.5s;
  }
  #slider.getintoleft {
    right: 75% !important;
    transition: all 1s cubic-bezier(0.7, 0, 0.3, 1) 0.5s;
  }
  #slider.getintoleftBackward {
    right: 0% !important;
    transition: all 1s cubic-bezier(0.7, 0, 0.3, 1) 0.5s;
  }
  #slider.eduLeft {
    right: 100% !important;
    transition: all 0.5s cubic-bezier(0.7, 0, 0.3, 1) 0.5s;
  }
  #slider.eduLeftReverse {
    right: 75% !important;
    transition: all 0.8s cubic-bezier(0.7, 0, 0.3, 1) 0.5s;
  }
  #social-media {
    display: none;
  }
  #about {
    left: 50%;
  }
  #profile-img {
    width: 30vw;
  }
  #about-quote {
    font-size: 14px;
    margin-top: 0;
  }
  #about-me-container {
    text-align: center;
  }
  #about-me {
    font-size: 22px;
    margin-bottom: 2vh;
  }
  #about-content {
    margin-top: 1vh;
    text-align: center;
    font-size: 20px;
  }
  #about-subcontent {
    margin-top: 5vh;
    text-align: center;
    font-size: 18px;
  }
  #education {
    margin-top: -40vh;
  }
  #skills {
    opacity: 0;
  }
  #edu-subtitle {
    opacity: 0;
  }
  #edu-timeline-wrapper {
    top: 30vh;
    margin-top: -20vh;
    left: 5%;
    right: 5%;
    height: 70vh;
  }
  .circleicon {
    display: none;
  }
  .portfolio-row {
    display: flex;
    flex-direction: column;
  }
  #portfolio-content {
    position: absolute;
    top: 10%;
    margin-top: 0%;
    left: 5%;
    right: 5%;
  }
  .portfolio-box {
    width: 100%;
  }
  .portfoliotitle {
    font-size: 16px;
  }
  #roshita-portfolio {
    opacity: 0;
  }
  .portfolio-tags {
    display: none;
  }
  #contact-title {
    font-size: 24px;
  }
  #contact-mail {
    font-size: 20px;
  }
  .contact-icon {
    font-size: 30px;
    margin-left: 15px;
    margin-right: 15px;
  }
  #contact-content {
    text-align: center;
  }
  .contact-social-icons {
    justify-content: center;
  }
}
