body {
  margin: 0;
  padding: 0;
  background: black;
  overflow-x: hidden;
  justify-content: center;
  align-items: center;
  position: relative;
  scroll-behavior: smooth;
}
canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
#loader {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -39px;
  margin-top: -39px;
  opacity: 1;
  transition: all 0.5s cubic-bezier(0.7, 0, 0.3, 1) 0.5s;
}
#loader.slide {
  left: 125%;
  opacity: 0;
}
#content {
  margin: 0%;
  padding: 0;
}
#intro {
  position: relative;
  height: 100vh;
  margin: 0%;
}
#hero {
  margin: 0;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#text-box {
  position: absolute;
  left: 35%;
  transition: all 0.5s cubic-bezier(0, 0, 0, 1) 1s;
}
#text-box.slide {
  left: 1%;
  transform: scale(0.8);
}

#slider {
  position: absolute;
  height: 100vh;
  width: 100%;
  right: 0%;
  top: 0%;
  background-color: #cc005fd5;
  overflow: hidden;
}
#slider.forward {
  width: 90% !important;
  transition: width 1s cubic-bezier(0.7, 0, 0.3, 1) 0.5s;
}
#slider.backward {
  width: 5% !important;
  transition: width 1s cubic-bezier(0.7, 0, 0.3, 1) 0.7s;
}
.heading {
  color: #cc005f;
  text-align: center;
  font-size: 30px;
  font-weight: bolder;
  font-family: "Raleway", sans-serif;
  word-spacing: 12px;
}

.about {
  padding-bottom: 100vh;
}

/* loader css codes */
@keyframes ldio-9atrfbazgt {
  0% {
    transform: translate(6.42px, 42.800000000000004px) scale(0);
  }
  25% {
    transform: translate(6.42px, 42.800000000000004px) scale(0);
  }
  50% {
    transform: translate(6.42px, 42.800000000000004px) scale(1);
  }
  75% {
    transform: translate(42.800000000000004px, 42.800000000000004px) scale(1);
  }
  100% {
    transform: translate(79.18px, 42.800000000000004px) scale(1);
  }
}
@keyframes ldio-9atrfbazgt-r {
  0% {
    transform: translate(79.18px, 42.800000000000004px) scale(1);
  }
  100% {
    transform: translate(79.18px, 42.800000000000004px) scale(0);
  }
}
@keyframes ldio-9atrfbazgt-c {
  0% {
    background: #ffffff;
  }
  25% {
    background: #ffffff;
  }
  50% {
    background: #ffffff;
  }
  75% {
    background: #ffffff;
  }
  100% {
    background: #ffffff;
  }
}
.ldio-9atrfbazgt div {
  position: absolute;
  width: 21.400000000000002px;
  height: 21.400000000000002px;
  border-radius: 50%;
  transform: translate(42.800000000000004px, 42.800000000000004px) scale(1);
  background: #ffffff;
  animation: ldio-9atrfbazgt 1s infinite cubic-bezier(0, 0.5, 0.5, 1);
}
.ldio-9atrfbazgt div:nth-child(1) {
  background: #ffffff;
  transform: translate(79.18px, 42.800000000000004px) scale(1);
  animation: ldio-9atrfbazgt-r 0.25s infinite cubic-bezier(0, 0.5, 0.5, 1),
    ldio-9atrfbazgt-c 1s infinite step-start;
}
.ldio-9atrfbazgt div:nth-child(2) {
  animation-delay: -0.25s;
  background: #ffffff;
}
.ldio-9atrfbazgt div:nth-child(3) {
  animation-delay: -0.5s;
  background: #ffffff;
}
.ldio-9atrfbazgt div:nth-child(4) {
  animation-delay: -0.75s;
  background: #ffffff;
}
.ldio-9atrfbazgt div:nth-child(5) {
  animation-delay: -1s;
  background: #ffffff;
}
.loadingio-spinner-ellipsis-4l8oq9z32xw {
  width: 107px;
  height: 107px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.ldio-9atrfbazgt {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-9atrfbazgt div {
  box-sizing: content-box;
}

/* loader css codes */

/* Hello there animation */
#hello-outline {
  animation: fill-hello 1.5s ease forwards 4s;
}
#hello-outline path:nth-child(1) {
  stroke-dasharray: 408px;
  stroke-dashoffset: 408px;
  animation: line-anim 2s ease forwards 1.5s;
}
#hello-outline path:nth-child(2) {
  stroke-dasharray: 333.87px;
  stroke-dashoffset: 333.87px;
  animation: line-anim 2s ease forwards 1.5s;
}
#hello-outline path:nth-child(3) {
  stroke-dasharray: 210.42px;
  stroke-dashoffset: 210.42px;
  animation: line-anim 2s ease forwards 1.5s;
}
#hello-outline path:nth-child(4) {
  stroke-dasharray: 210.42px;
  stroke-dashoffset: 210.42px;
  animation: line-anim 2s ease forwards 1.5s;
}
#hello-outline path:nth-child(5) {
  stroke-dasharray: 276.76px;
  stroke-dashoffset: 276.76px;
  animation: line-anim 2s ease forwards 1.5s;
}
#hello-outline path:nth-child(6) {
  stroke-dasharray: 282.52px;
  stroke-dashoffset: 282.52px;
  animation: line-anim 2s ease forwards 1.5s;
}
#hello-outline path:nth-child(7) {
  stroke-dasharray: 350.4px;
  stroke-dashoffset: 350.4px;
  animation: line-anim 2s ease forwards 1.5s;
}
#hello-outline path:nth-child(8) {
  stroke-dasharray: 333.87px;
  stroke-dashoffset: 333.87px;
  animation: line-anim 2s ease forwards 1.5s;
}
#hello-outline path:nth-child(9) {
  stroke-dasharray: 197.3px;
  stroke-dashoffset: 197.3px;
  animation: line-anim 2s ease forwards 1.5s;
}
#hello-outline path:nth-child(10) {
  stroke-dasharray: 333.87px;
  stroke-dashoffset: 333.87px;
  animation: line-anim 2s ease forwards 1.5s;
}
#hello-outline path:nth-child(11) {
  stroke-dasharray: 63.55px;
  stroke-dashoffset: 63.55px;
  animation: line-anim 2s ease forwards 1.5s;
}

@keyframes line-anim {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes fill-hello {
  from {
    fill: transparent;
  }
  to {
    fill: white;
  }
}
