body {
  margin: 0;
  padding: 0;
  background: black;
  overflow-x: hidden;
  justify-content: center;
  align-items: center;
  position: relative;
  scroll-behavior: smooth;
}
canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
#loader {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -39px;
  margin-top: -39px;
  opacity: 1;
  transform: scale(0.75);
  transition: all 0.5s cubic-bezier(0.7, 0, 0.3, 1) 1s;
}
#loader.slide {
  left: 125%;
  opacity: 0;
}
#content {
  margin: 0%;
  padding: 0;
}
#menu-bar {
  position: absolute;
  padding: 1em;
  top: 0%;
  height: 40%;
  overflow: hidden;
  left: -20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: left 0.5s cubic-bezier(0.7, 0, 0.3, 1) 1s;
}
#menu-bar.slide {
  left: 0%;
  position: fixed !important;
}
#menu-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}
#menu-content.icon {
  padding: 0.2em;
}
.icon {
  /*social-media*/
  padding-bottom: 0.5em;
}

#intro {
  position: relative;
  height: 100vh;
  margin: 0%;
}
#hero {
  margin: 0;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
#text-box {
  position: absolute;
  transition: all 0.5s cubic-bezier(0.7, 0, 0.3, 1) 0.75s;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translate(0%, 0%);
}
#text-box.slide {
  transform: translate(-200%, 0%);
}
/* .heading {
  text-align: end;
  font-family: raleway;
  font-size: 100px;
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px 5px black;
} */
#sub-heading {
  text-align: center;
  color: white;
  font-family: raleway;
  font-size: 60px;
  transform: translateY(-150%);
  transition: all 0.5s cubic-bezier(0, 0, 0, 1) 1s;
}
#sub-heading-container {
  overflow: hidden;
}
#sub-heading.slide {
  transform: translateY(0%);
}

#up-arrow {
  position: absolute;
  bottom: -50%;
  left: 45%;
  right: 45%;
  width: 10%;
  padding: 1%;
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.5s cubic-bezier(0, 0, 0, 1) 1s;
}
#arrow {
  margin: 10%;
  animation-name: floating;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
#arrow-text {
  color: #ffffff;
  font-family: sans-serif;
  font-size: 10px;
}
#up-arrow.slide {
  bottom: 5%;
  position: fixed;
  opacity: 1;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

#slider {
  position: absolute;
  height: 100vh;
  width: 100%;
  right: 0%;
  top: 0%;
  overflow: hidden;
}
#intro-2 {
  position: absolute;
  width: 80vh;
  top: 25%;
  bottom: 50%;
  right: 20%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

@media only screen and (min-width: 769px) {
  #slider {
    background-color: #cc005fd5;
  }
  #text-box {
    padding: 10vh;
    transform: scale(0.9);
  }
  #heading {
    padding-bottom: 4vh;
  }
  #slider.forward {
    width: 90% !important;
    transition: width 1s cubic-bezier(0.7, 0, 0.3, 1) 0.5s;
  }
  #slider.backward {
    width: 5% !important;
    transition: width 1s cubic-bezier(0.7, 0, 0.3, 1) 0.5s;
  }
  #social-media {
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    transition: all 1s cubic-bezier(0.7, 0, 0.3, 1) 0.7s;
    top: -100%;
    bottom: 50%;
    right: 0%;
    padding: 1.4%;
  }
  #social-media.slide {
    top: 50%;
    position: fixed !important;
  }
}

@media only screen and (max-width: 768px) {
  #slider {
    background-color: #cc005f6e;
  }
  #heading {
    padding-bottom: 6vh;
  }
  #text-box {
    transform: scale(0.5);
    padding: 5vh;
  }
  #text-box.slide {
    transform: scale(0.5) translate(-200%, 0%);
  }
  #slider.forward {
    width: 100% !important;
    transition: width 1s cubic-bezier(0.7, 0, 0.3, 1) 0.5s;
  }
  #slider.backward {
    width: 0% !important;
    transition: width 1s cubic-bezier(0.7, 0, 0.3, 1) 0.5s;
  }
  #social-media {
    display: none;
  }
}

#about {
  /* padding-bottom: 100vh; */
  height: 100vh;
}

/* loader css codes */
@keyframes ldio-9atrfbazgt {
  0% {
    transform: translate(6.42px, 42.800000000000004px) scale(0);
  }
  25% {
    transform: translate(6.42px, 42.800000000000004px) scale(0);
  }
  50% {
    transform: translate(6.42px, 42.800000000000004px) scale(1);
  }
  75% {
    transform: translate(42.800000000000004px, 42.800000000000004px) scale(1);
  }
  100% {
    transform: translate(79.18px, 42.800000000000004px) scale(1);
  }
}
@keyframes ldio-9atrfbazgt-r {
  0% {
    transform: translate(79.18px, 42.800000000000004px) scale(1);
  }
  100% {
    transform: translate(79.18px, 42.800000000000004px) scale(0);
  }
}
@keyframes ldio-9atrfbazgt-c {
  0% {
    background: #ffffff;
  }
  25% {
    background: #ffffff;
  }
  50% {
    background: #ffffff;
  }
  75% {
    background: #ffffff;
  }
  100% {
    background: #ffffff;
  }
}
.ldio-9atrfbazgt div {
  position: absolute;
  width: 21.400000000000002px;
  height: 21.400000000000002px;
  border-radius: 50%;
  transform: translate(42.800000000000004px, 42.800000000000004px) scale(1);
  background: #ffffff;
  animation: ldio-9atrfbazgt 1s infinite cubic-bezier(0, 0.5, 0.5, 1);
}
.ldio-9atrfbazgt div:nth-child(1) {
  background: #ffffff;
  transform: translate(79.18px, 42.800000000000004px) scale(1);
  animation: ldio-9atrfbazgt-r 0.25s infinite cubic-bezier(0, 0.5, 0.5, 1),
    ldio-9atrfbazgt-c 1s infinite step-start;
}
.ldio-9atrfbazgt div:nth-child(2) {
  animation-delay: -0.25s;
  background: #ffffff;
}
.ldio-9atrfbazgt div:nth-child(3) {
  animation-delay: -0.5s;
  background: #ffffff;
}
.ldio-9atrfbazgt div:nth-child(4) {
  animation-delay: -0.75s;
  background: #ffffff;
}
.ldio-9atrfbazgt div:nth-child(5) {
  animation-delay: -1s;
  background: #ffffff;
}
.loadingio-spinner-ellipsis-4l8oq9z32xw {
  width: 107px;
  height: 107px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.ldio-9atrfbazgt {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-9atrfbazgt div {
  box-sizing: content-box;
}

/* loader css codes */

/* Title animation */

@keyframes line-anim {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes fill-title {
  from {
    fill: transparent;
  }
  to {
    fill: white;
  }
}

#title-big {
  animation: fill-title 1.5s ease forwards 3s;
}
#title-big path:nth-child(1) {
  stroke-dasharray: 169.6px;
  stroke-dashoffset: 169.6px;
  animation: line-anim 1.5s cubic-bezier(0.7, 0, 0.3, 1) forwards 1.7s;
}
#title-big path:nth-child(2) {
  stroke-dasharray: 77.7px;
  stroke-dashoffset: 77.7px;
  animation: line-anim 1.5s cubic-bezier(0.7, 0, 0.3, 1) forwards 1.7s;
}
#title-big path:nth-child(3) {
  stroke-dasharray: 431.8px;
  stroke-dashoffset: 431.8px;
  animation: line-anim 1.5s cubic-bezier(0.7, 0, 0.3, 1) forwards 1.8s;
}
#title-big path:nth-child(4) {
  stroke-dasharray: 379.9px;
  stroke-dashoffset: 379.9px;
  animation: line-anim 1.5s cubic-bezier(0.7, 0, 0.3, 1) forwards 1.8s;
}
#title-big path:nth-child(5) {
  stroke-dasharray: 266px;
  stroke-dashoffset: 266px;
  animation: line-anim 1.5s cubic-bezier(0.7, 0, 0.3, 1) forwards 1.9s;
}
#title-big path:nth-child(6) {
  stroke-dasharray: 265.5px;
  stroke-dashoffset: 265.5px;
  animation: line-anim 1.5s cubic-bezier(0.7, 0, 0.3, 1) forwards 1.7s;
}
#title-big path:nth-child(7) {
  stroke-dasharray: 324.08px;
  stroke-dashoffset: 324.08px;
  animation: line-anim 1.5s cubic-bezier(0.7, 0, 0.3, 1) forwards 1.7s;
}
#title-big path:nth-child(8) {
  stroke-dasharray: 185px;
  stroke-dashoffset: 185px;
  animation: line-anim 1.5s cubic-bezier(0.7, 0, 0.3, 1) forwards 1.8s;
}
#title-big path:nth-child(9) {
  stroke-dasharray: 222.86px;
  stroke-dashoffset: 222.86px;
  animation: line-anim 1.5s cubic-bezier(0.7, 0, 0.3, 1) forwards 1.8s;
}
#title-big path:nth-child(10) {
  stroke-dasharray: 318.22px;
  stroke-dashoffset: 318.22px;
  animation: line-anim 1.5s cubic-bezier(0.7, 0, 0.3, 1) forwards 1.9s;
}

/* menu icon */
#nav-icon3 {
  width: 60px;
  height: 45px;
  position: relative;
  transform: rotate(0deg) scale(0.5);
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

#nav-icon3 span {
  display: block;
  position: absolute;
  height: 9px;
  width: 100%;
  background: #ffffff;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

#nav-icon3 span:nth-child(1) {
  top: 0px;
}

#nav-icon3 span:nth-child(2),
#nav-icon3 span:nth-child(3) {
  top: 18px;
}

#nav-icon3 span:nth-child(4) {
  top: 36px;
}

#nav-icon3.open span:nth-child(1) {
  background-color: #cc005f;
  top: 18px;
  width: 0%;
  left: 50%;
}

#nav-icon3.open span:nth-child(2) {
  background-color: #cc005f;
  transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
  background-color: #cc005f;
  transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
  background-color: #cc005f;
  top: 18px;
  width: 0%;
  left: 50%;
}

/* Icon 4 */
